@media screen and (min-width: 601px) {
    .about_teacher {
    padding: 10% 10% 0% 10%;
    max-height: 100%;
}

.about_teacher h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    max-width: 100%;
}

.about_teacher__text {
    display: grid;
    grid-template-columns: 10% 70%;
    margin: 4%;
}

.about_teacher__text__DNA {
    display: grid;
    grid-column: 1/2;
    row-gap: 1%;
    margin-top: 3%;
}

.about_teacher__text__DNA img {
    width: 60%;
}

.about_teacher__text__list {
    margin-top: 1%;
    display: grid;
    grid-column: 2/3;
    font-size: 2vw;
    grid-template-rows: repeat(5, 1fr);
}
.about_teacher__babka_mobil{
    display:none;
   

}
.about_teacher__babka{
    position: absolute;
    margin-left:50%;
    width:30%;
}
}


@media screen and (max-width: 600px) {
    .about_teacher {
        padding: 5% 5% 0% 5%;
        max-height: 100%;
    }
    
    .about_teacher h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        max-width: 100%;
    }
    
    .about_teacher__text {
        display: grid;
        grid-template-columns: 1% 90%;
        margin: 4%;
    }
    
    .about_teacher__text__DNA {
        display: none;
 
    }
    
  
    
    .about_teacher__text__list {
        position: relative;
        margin-top: 1%;
        display: grid;
        grid-column: 2/3;
        font-size: 3.5vw;
        grid-template-rows: repeat(5, 1fr);
}
.about_teacher__babka_mobil{
    position: absolute;
    margin-left:50%;
    width:40%;
}
.about_teacher__babka{
    display:none;
}
}