.contacts {
    display: grid;
    margin: 3%;
}

.contacts h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: white;
    margin: 5%;
}

.contacts__block {
    display: grid; 
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 1fr 1fr;
    font-size: 2.3vw;
    color: white;
}

.contacts__block__tg {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    justify-self: center;
}

.contacts__block__youtube {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
}

.contacts__block__vk {
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
}

.contacts__block__tiktok {
    display: grid;
    grid-row: 4/5;
    grid-column: 1/2;
    text-align: center;
}

.contacts__block__icon {
    display: grid;
    grid-row: 5/6;
    grid-column: 1/2;
    margin-left: 20%;
}

.contacts__block__photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1/5;
    grid-column: 2/3;
}

.contacts__block__photo img {
    width: 250%;
}

.contacts__block a {
    text-decoration: none;
    color: white;
}

.contacts__block__icon__tg {
    display: grid;
    grid-column: 1/2;
}

.contacts__block__icon__wa {
    display: grid;
    grid-column: 2/3;
}

.contacts__block__icon__vk {
    display: grid;
    grid-column: 3/4;
}

.contacts__block__icon__tg a img {
    width: 35%;
}

.contacts__block__icon__wa a img {
    width: 35%;
}

.contacts__block__icon__vk a img {
    width: 35%;
}