@media screen and (min-width: 601px) {

    .body {
        max-width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        overflow-x: hidden;
        background-image: url('../images/fon1.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    /*#mainpage{
    background-image: url('../images/mainpage/fon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}*/

    .mainpage__container {
        height: 100vh;
        display: grid;
        padding-left: 6.5vw;
        padding-right: 6.5vw;
        padding-top: 5vh;
        grid-template-columns: 55% 45%;
        grid-template-rows: 20vh 30vh 25vh 15vh;
    }

    .mainpage__container__imgdiv {
        grid-row: 1/5;
        grid-column: 1/2;
    }

    .mainpage__container__img {
        width: 100%;
        align-self: flex-start;
    }

    .mainpage__container__h1 {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        color: white;
        font-size: 2.77vw;
        font-weight: 600;
    }

    .mainpage__container__h1 span {
        font-weight: 400;
    }

    .mainpage__container__button {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: center;
        align-self: center;
        width: 45%;
        height: 45%;
        background-color: #000000;
        font-size: 2.27vw;
        font-weight: 800;
        color: white;
        border-radius: 50px;
        border-width: 0;
    }

    .mainpage__container__button:hover {
        font-size: 2.5vw;
    }

    .mainpage__container__button a {
        color: white;
        text-decoration: none;
    }

    .mainpage__container__button a:hover {
        color: white;
        text-decoration: none;
    }

    .mobile_mainpage {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .body {
        max-width: 100%;
        height: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        overflow-x: hidden;
        background-image: url('../images/mobfon.png');
        background-size: auto;
        background-repeat: no-repeat;
    }

    .mobile_mainpage {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 100vw;
        height: 70vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        row-gap: 4vh;
    }

    .mobile_mainpage__container1 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 30%;
        row-gap: 30%;
    }

    .mobile_mainpage__container2 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 68% 32%;
        grid-template-rows: repeat(4, 25%);
        text-align: center;
        font-size: 3.3vw;
        font-weight: 600;
    }

    .mobile_mainpage__container__imgdiv {
        grid-column: 1/2;
        grid-row: 1/5;


    }

    .mobile_mainpage__container__text1 {
        margin: 0%;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .mobile_mainpage__container__text2 {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0%;
    }

    .mobile_mainpage__container__text3 {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0%;
    }

    .mobile_mainpage__container__text4 {
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 0%;
    }

    .mainpage {
        display: none;
    }

    .mobile_mainpage__container__img {
        max-width: 100%;
    }

    .mobile_mainpage__container__h1 {
        text-align: center;
        color: white;
        font-size: 6.89vw;
        font-weight: 600;
        line-height: 10vw;
    }

    .mobile_mainpage__container__h1 span {
        font-weight: 400;
    }

    .mobile_mainpage__container__button {
        justify-self: center;
        align-self: flex-start;
        width: 40%;
        height: 65%;
        background-color: #000000;
        font-size: 4.51vw;
        font-weight: 800;
        color: white;
        border-radius: 50px;
        border-width: 0;


    }

    .mobile_mainpage__container__button a {
        color: white;
        text-decoration: none;
    }

    .mobile_mainpage__container__button :hover {
        font-size: 5.5vw;
        color: white;
    }

    .mobile_mainpage__container__button a:hover {
        color: white;
        text-decoration: none;
    }

}