@media screen and (min-width: 601px) {
    .otzivy {
        padding-top: 14vh;
    }

    .otzivy__h2 {
        padding-left: 43%;
        font-size: 45px;
        font-weight: 600;
    }

    .otzivy__container {
        display: grid;
        padding-top: 10vh;
        padding-left: 6.5vw;
        padding-right: 6.5vw;
        grid-template-rows: 75vh;
        grid-template-columns: repeat(3, 25vw);
        justify-content: center;
        column-gap: 2vw;


    }

    .otzivy__img1,
    .otzivy__img2,
    .otzivy__img3 {
        width: 100%;
        border-radius: 15px;
    }

    .otzivy__container2 {
        margin-top: 11vh;
        padding-left: 2vw;
        display: grid;
        width: 100vw;
        height: 3vh;
        grid-template-columns: 10vw 10vw;
        grid-template-rows: 3vh;
        justify-content: center;
        column-gap: 15vw;
    }

    .otzivy__arrowimage1,
    .otzivy__arrowimage2 {
        width: 50%;
    }

    .otzivy__arrowimage1:hover,
    .otzivy__arrowimage2:hover {
        cursor: pointer;
        width: 55%;
    }

    .mobile_otzivy {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .otzivy {
        display: none;
    }

    .mobile-otzivy__h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .mobile_otzivy {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .otzivy__carousel {
        margin-top: 5vh;
    }

}