.card-1,
.card-2,
.card-3 {
    background-color: #AC98C6;
    border-radius: 50px;
}

.card3 {
    margin-right: 3vw;
}

.card1 {
    margin-left: 3vw;
}


.price {
    margin-top: 163vh;
}

.price__h2 {
    padding-left: 43%;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5%;
}

.price__h5 {
    font-weight: 500;
    font-size: 1.8vw;
}

.price__text {
    font-weight: 500;
    font-size: 1.5vw;
}



.price__button1 {
    padding-top: 2vh;
    text-decoration: none;
    margin-right: 4vw;
    width: 13vw;
    height: 10vh;

    font-size: 1.7vw;
    font-weight: 800;
}

.price__button2 {
    padding-top: 2vh;
    text-decoration: none;
    width: 13vw;
    height: 10vh;

    font-size: 1.7vw;
    font-weight: 800;
}

.price__button3 {
    padding-top: 2vh;
    text-decoration: none;
    margin-left: 4vw;
    width: 13vw;
    height: 10vh;

    font-size: 1.7vw;
    font-weight: 800;
}

.price__buttons {
    width: 13vw;
    height: 14vh;

    font-size: 1.7vw;
    font-weight: 800;
}

.price__button1:hover,
.price__button2:hover,
.price__button3:hover {
    font-size: 1.9vw;
}