@media screen and (min-width: 601px) {

    .resurs__h2 {

        text-align: center;
        font-size: 45px;
        font-weight: 600;
        color: white;
        margin: 3%;
        padding-top: 6%;
    }

    .resurs__block {
        display: grid;
        grid-template-areas: 'resurs__block__tg resurs__block__youtube resurs__block__photo'
            'resurs__block__tiktok resurs__block__vk resurs__block__photo';
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr;
        justify-items: center;
        font-size: 2.3vw;
        color: white;
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 5%;
    }

    .resurs__block__tg {
        display: grid;
        grid-area: resurs__block__tg;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__youtube {
        display: grid;
        grid-area: resurs__block__youtube;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__vk {
        display: grid;
        grid-area: resurs__block__vk;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__tiktok {
        display: grid;
        grid-area: resurs__block__tiktok;
        text-align: center;
        align-content: center;
        justify-items: center;
    }


    .resurs__block__photo {
        display: grid;
        grid-area: resurs__block__photo;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        align-content: center;
        align-items: center;
        margin-left: 1%;
    }

    .resurs__block__photo img {
        max-width: 90%;
    }

    .resurs__block a {
        color: white;
        transition: 0.3s;
    }

    .resurs__block a:hover {
        color: white;
    }

    .resurs__block__text {
        font-size: 1.6vw;
    }

    .resurs__block__icon {
        max-height: 100%;
        max-width: 50%;
        padding-bottom: 13%;
    }

    .resurs__block__icon__yotube {

        max-width: 40%;
        padding-bottom: 1%;
    }



    .resurs__block__p {
        margin: 0%;
    }

    .resurs__h2__mobil {
        display: none;
    }

    .resurs__block__mobil {
        display: none;
    }

    .resurs__contacts__mobil {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .resurs__h2 {
        display: none;
    }

    .resurs__block {
        display: none;
    }

    .resurs__h2__mobil {

        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: white;
        margin: 3%;
        padding-top: 6%;
    }

    .resurs__block__mobil {
        display: grid;
        grid-template-areas: 'resurs__block__tg resurs__block__youtube resurs__block__photo'
            'resurs__block__tiktok resurs__block__vk resurs__block__photo';
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr;
        justify-items: center;
        font-size: 2.3vw;
        color: white;
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 5%;
    }

    .resurs__block__tg__mobil {
        display: grid;
        grid-area: resurs__block__tg;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__youtube__mobil {
        display: grid;
        grid-area: resurs__block__youtube;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__vk__mobil {
        display: grid;
        grid-area: resurs__block__vk;
        text-align: center;
        align-content: center;
        justify-items: center;
    }

    .resurs__block__tiktok__mobil {
        display: grid;
        grid-area: resurs__block__tiktok;
        text-align: center;
        align-content: center;
        justify-items: center;
    }


    .resurs__block__photo__mobil {
        display: grid;
        grid-area: resurs__block__photo;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        align-content: center;
        align-items: center;
        margin-left: 1%;
    }

    .resurs__block__photo__mobil img {
        max-width: 100%;
    }

    .resurs__block__mobil a {
        color: white;
        transition: 0.3s;
    }

    .resurs__block__mobil a:hover {
        color: white;
    }

    .resurs__block__text__mobil {
        font-size: 2.8vw;
    }

    .resurs__block__icon__mobil {
        max-height: 100%;
        max-width: 45%;
        padding-bottom: 3%;
    }

    .resurs__block__icon__yotube__mobil {

        max-width: 40%;
        padding-bottom: 1%;
    }

    .resurs__block__p__mobil {
        margin: 0%;
    }

    .resurs__contacts__mobil {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10%;
        row-gap: 20%;
        justify-content: start;
        margin: 5%;
    }

    .resurs__contacts__mobil_item1 {
        text-align: center;
        grid-column: 1/4;
        grid-row: 1/2;
        font-weight: 600;
        color: white;
        font-size: 25px;
        padding-top: 4%;
    }



}